
.form-group.required::before{
    content: '*'; 
    color: red;
    font-weight:bold;
}

body {
    background-image: url({{url_for('static', filename='img/imgem_nevasca.jpg')}});
    background-repeat: no-repeat;
}

* {
    margin:0px;
    padding:0px;
    font-family:Helvetica,
    Arial,
    sans-serif;
}
