body{
    background-image: url("{{ url_for('static, filename='img/outono.jpg') }}");
    background-repeat: no-repeat;
  }


  .form-group.required::before{
    content: '*'; 
    color: red;
    font-weight:bold;
  }