{% extends "bootstrap/base.html" %} 
{%from "mostrar_erro_lista.html" import mostrar_erro_lista %} 
{%from "mostrar_erro_field.html" import mostrar_erro_field %} 
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji&display=swap" rel="stylesheet">
{% endblock styles %}


{% block content %}
<!DOCTYPE html>
<html>

<head>
    {% block title %}
        Get Weather
    {% endblock title %}
    
    {% block head %}
        {{super()}}
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% endblock %}

</head>
<body>
    {% block navbar %}
    
    <header>
    
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <img src="{{ url_for('static', filename='img/icone.png') }}" height="40px" width="40px">
        <a class="navbar-brand" href="{{ url_for('carregar_index') }}" style="margin-left:10px;">Get Weather</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            {% if current_user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('carregar_index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('listar_cidades') }}">Lista de Cidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('carregar_perfil') }}">Perfil</a>
                </li>
            </ul>

            <h6 class="nav-item text-white text-center" style="padding-right:1rem;">Olá, {{current_user.nome_completo}}</h6>
            <a class="nav-link btn btn-primary" href="{{ url_for('deslogar_usuario') }}">Sair</a>
            {% else %}
            
                <a class="nav-item btn btn-primary btn-md my-2 my-md-0" href="{{ url_for('logar_usuario') }}" >Entrar</a>
            
            {% endif %}
        </div>
    </nav>
    </header>
    {% endblock navbar %}

<main role="main" class="flex-shrink-0">
    {% block main %} {% endblock main %}
</main>


<footer class="text-center  footer navbar  sticky-bottom align-itens-center " >
    <div class="container">
        <p class="text">O Get Weather é um site desenvolvido com o intuito de disponibilizar informações relacionadas ao clima em todo o mundo. Foi desenvolvido a partir de um trabalho acadêmico dos alunos do Instituo federal Catarinense - campus Blumenau, sendo os alunos
            Beatriz Bauer, Diogenes H. Maçaneiro, Gabriel Gahio, Pedro Schumann, Teodoro Freiberger e Vítor Augusto U. Otto. Contato: notaweatherbot@gmail.com ou +55 47 99256-4732</p>
        <p class="text text-align-center"></p>
    </div>
</footer>
</body>

</html>
{% endblock content %}