
{% extends 'base.html' %}

{% block title %}
    Get weather - Cadastro de cidade
{% endblock title %}


{% block main %}
<br><br><br>
<div class="container">

<h2>Cadastrar Cidade</h2>
<form action="cadastrar_cidade" class="form-inlin justify-content-center" method="POST">
    {{ mostrar_erro_lista(erros) }}
    {{mostrar_erro_field(form.nome_cidade)}}
    {{mostrar_erro_field(form.descricao_cidade)}}
    {{mostrar_erro_field(form.favorita)}}
    {{mostrar_erro_field(form.notificacao)}}

    {{wtf.quick_form(form)}}


</form>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock main %}
