{% extends 'base.html' %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cidade.css') }}">
{% endblock styles %}

{% block main %}
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Cidade: {{ cidade.nome_cidade }}</h1>
                {% if cidade.descricao|length >0 %}
                    <h4>Descrição:</h4>
                    <p>{{ cidade.descricao }}</p>
                {% endif %}
                {% if cidade.notificavel %}
                    <h4 class="text-center">Notificável: Sim</h4>
                {% else %}
                    <h4 class="text-center">Notificável: Não</h4>
                {% endif %}
                {% if cidade.favorito %}
                    <h4 class="text-center">Favorita: Sim</h4>
                {% else %}
                <h4 class="text-center">Favorita: Não</h4>
                {% endif %}
                <center>
                <a class="btn btn-primary " href="{{ url_for('editar_cidade',id=cidade.id) }}">Editar Cidade</a>
                </center>
            </div>
        </div>
        <br><br><br>
        <h2 class="text-center">Tempo Nesse Momento</h2>
        <div class="row" id="cartinha">
                <div class="col no-gutters">
                    <div class="weather-card one">
                        <div class="top">
                            <div class="wrapper">
                                
                                <h1 class="heading">{{clima.get_detailed_status()}} </h1>
                                <h3 class="location">{{cidade.nome_cidade}}</h3>
                                <img src="{{ clima.get_weather_icon_url() }}" alt="clima" class="img-responsive d-block mx-auto d-block rounded">
                                <p class="temp">
                                    <span class="temp-value">{{clima.get_temperature(unit='celsius')['temp']}}</span>
                                    <span class="deg">0</span>
                                    <a href="javascript:;"><span class="temp-type">C</span></a>
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col no-gutters">
                    <div class="weather-card one">
                        <div class="bottom">
                            <div class="wrapper">
                                <ul class="forecast">
                                    <li class="active">
                                            <span class="date">Coletado as:</span>
                                            <span class="condition">
                                                <span class="temp">{{ clima.get_reference_time(timeformat='date').astimezone(fuso).strftime('%H:%M - %d/%m/%Y') }}</span>
                                            </span>
                                    </li>
                                    <li class="active">
                                        <span class="date">Umidade:</span>
                                        <span class="condition">
                                            <span class="temp">{{clima.get_humidity()}}%</span>
                                        </span>
                                    </li>
                                    <li class="active">
                                        <span class="date">Nuvens:</span>
                                        <span class="condition">
                                            <span class="temp">{{ clima.get_clouds() }}%</span>
                                        </span>
                                    </li>
                                    <li class="active">
                                            <span class="date">Vento:</span>
                                            <span class="condition">
                                                <span class="temp">{{ clima.get_wind()['speed'] }} mm</span>
                                            </span>
                                    </li>
                                    {% for key in clima.get_rain().keys() %}
                                    <li class="active">
                                        <span class="date">Chuva:</span>
                                        <span class="condition">
                                            <span class="temp">{{ clima.get_rain()[key] }} mm</span>
                                        </span>
                                    </li>
                                    {% endfor %}
                                    {% for key in clima.get_snow().keys() %}
                                    <li class="active">
                                        <span class="date">Neve:</span>
                                        <span class="condition">
                                            <span class="temp">{{ clima.get_snow()[key] }} mm</span>
                                        </span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <br>
        <h2 class="text-center">Previsão do tempo</h2>
        <br>
        <div class="row">
            <div class="col">
                
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Imagem</th>
                        <th scope="col">Temperatura</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Umidade</th>
                        <th scope="col">Vento</th>
                        <th scope="col">Nuvens</th>
                        <th scope="col">Chuva</th>
                        <th scope="col">Neve</th>
                        <th scope="col">Horario</th>
                        <th scope="col">Data</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for previsao in previsoes %}
                            <tr>
                                <td scope="row"><img src="{{ previsao.get_weather_icon_url() }}" alt="clima" class="img-responsive"></td>   
                                <td scope="row">{{ previsao.get_temperature(unit='celsius')['temp']}}°C</td>
                                <td scope="row">{{ previsao.get_detailed_status()}}</td>
                                <td scope="row">{{ previsao.get_humidity() }}%</td>
                                <td scope="row">{{ previsao.get_wind()['speed'] }} km/h</td>
                                <td scope="row">{{ previsao.get_clouds() }}%</td>
                                {% if previsao.get_rain().keys()|length > 0 %}
                                    {% for key in previsao.get_rain().keys() %}
                                        <td scope="row">{{ previsao.get_rain()[key] }} mm</td>
                                    {% endfor %}
                                {% else %}
                                    <td scope="row">0 mm</td>
                                {% endif %}
                                {% if previsao.get_snow().keys()|length > 0 %}
                                    {% for key in previsao.snow().keys() %}
                                        <td scope="row">{{ previsao.snow()[key] }} mm</td>
                                    {% endfor %}
                                {% else %}
                                    <td scope="row">0 mm</td>
                                {% endif %}
                                <td scope="row">{{ previsao.get_reference_time(timeformat='date').astimezone(fuso).strftime('%H:%M:%S')}}</td>
                                <td scope="row">{{ previsao.get_reference_time(timeformat='date').astimezone(fuso).strftime('%d/%m/%Y')}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock main %}
