{% extends 'base.html' %}

{% block title %}
    Get weather - Erro
{% endblock title %}

{% block main %}
    <br><br><br>
    <div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Erro {{erro}}</h1>
        <p class="lead">{{descr_erro}}</p>
        <hr class="my-2">
        {% if enviar_email %}
            <p>Trabalharemos para encontrar uma solução, mas enquanto isso, você pode voltar para o site:</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ url_for('carregar_index') }}" role="button">Enviar_novo_email</a>
            </p>
        {% else %}
            <p>Trabalharemos para encontrar uma solução, mas enquanto isso, você pode voltar para o site:</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ url_for('carregar_index') }}" role="button">Voltar para a Home</a>
            </p>
        {% endif %}
        
    </div>
    </div>
{% endblock main %}