{% extends 'base.html' %} 

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock styles %}

{% block main %}
<br><br><br><br>

{% with mensagens = get_flashed_messages(with_categories=true) %}
    {% if mensagens%}
        {% for categoria, mensagem in mensagens %}
            {% if categoria == 'sucesso' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ mensagem }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            {% if categoria == 'erro' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ mensagem }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="jumbotron" style="background-color: #f5f5f0;">
    <h1>Capitais Mundiais</h1>
    <p>Previsão do tempo das principais cidades do mundo</p>
</div>
<br><br>
    <table class="table table-dark table-hover">
        <tbody>

            <tr>
                <td class="text-center">Berlim</td>
                <td class="text-center"><img class="rounded" width="50" height="50" src="{{climas[0].get_weather_icon_url()}}"></td>
                <td class="text-center">Temperatura: {{climas[0].get_temperature(unit='celsius')['temp']}} °C</td>

            </tr>
            <tr>
                <td class="text-center">Tóquio</td>
                <td class="text-center"><img class="rounded" width="50" height="50" src="{{ climas[1].get_weather_icon_url() }}"></td>
                <td class="text-center">Temperatura: {{climas[1].get_temperature(unit='celsius')['temp']}} °C</td>
            </tr>
            <tr>
                <td class="text-center">Nova York</td>
                <td class="text-center"><img class="rounded" width="50" height="50" src="{{ climas[2].get_weather_icon_url() }}"></td>
                <td class="text-center">Temperatura: {{climas[2].get_temperature(unit='celsius')['temp']}} °C</td>
            </tr>
            <tr>
                <td class="text-center">Washington</td>
                <td class="text-center"><img class="rounded" width="50" height="50" src="{{ climas[3].get_weather_icon_url() }}"></td>
                <td class="text-center">Temperatura: {{climas[3].get_temperature(unit='celsius')['temp']}} °C</td>
            </tr>
            <tr>
                <td class="text-center">Brasília</td>
                <td class="text-center"><img class="rounded" width="50" height="50" src="{{ climas[4].get_weather_icon_url() }}"></td>
                <td class="text-center">Temperatura: {{climas[4].get_temperature(unit='celsius')['temp']}} °C</td>
            </tr>
            <tr>
                <td class="text-center">Moscou</td>
                <td class="text-center"><img class="rounded" width="50" height="50" src="{{ climas[5].get_weather_icon_url() }}"></td>
                <td class="text-center">Temperatura: {{climas[5].get_temperature(unit='celsius')['temp']}} °C</td>
            </tr>
        </tbody>
    </table>
<br><br>

<div class="container"> 
    <div class="row">
        <h1>Avaliação do site:</h1>
    </div>
    <div class="row">
        {% if media != None %}
            <h3>Nota média: {{media}}</h3>
        {% else %}
            <h3>Nenhuma avaliação do site foi feita. Volte mais tarde</h3>
        {% endif %}
        
    </div>

    {%for avaliacao in avaliacoes%} 
        {% if avaliacao.comentario|e %}
            <div class="row">
                <div class="card">
                    <div class="card-header"><img src= "static/{{ avaliacao.caminho_foto }}" alt="Imagem de Perfil" style="width: 5rem;" > <h4>Usuário: {{avaliacao.nome_usuario}}</h4> </div>
                    <div class="card-content"> <h4>Comentário:</h4> <p>{{avaliacao.comentario}}</p></div>
                </div>
                
            </div>
        {% endif %}
    {%endfor%}
</div>
    <br><br>

</main>

{% endblock main%}