{% extends 'base.html' %} 

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock styles %}

{% block main %}
<br><br><br><br>

{% with mensagens = get_flashed_messages(with_categories=true) %}
    {% if mensagens%}
        {% for categoria, mensagem in mensagens %}
            {% if categoria == 'sucesso' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ mensagem }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            {% if categoria == 'erro' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ mensagem }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="container">

<img class="mx-auto d-block"  src="{{ url_for('static', filename='img/icone.png') }}" alt="logo" style="width: 4rem;">
<h1 class="text-center" style="color:dodgerblue;">Get Weather</h1> <br>
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <img src="{{ url_for('static', filename='img/paris.jpg') }}" alt="paris" width="1100" height="500">
        <div class="carousel-caption">
          <h3>Los Angeles</h3>
          <p>We had such a great time in LA!</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='img/imgem_nevasca.jpg') }}" alt="inverno" width="1100" height="500">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='img/montanha.jpg') }}" alt="montanha" width="1100" height="500">
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  

<br><br>



        <h1>Avaliação do site:</h1>
    
    
        {% if media != None %}
            <h3>Nota média: {{media}}</h3>
        {% else %}
            <h3>Nenhuma avaliação do site foi feita. Volte mais tarde</h3>
        {% endif %}
        
    <br>
   
    <h3>Avaliações:</h3>

    {% for avaliacao in avaliacoes %} 
        <div class="row">
            <div class="col">
                <div class="card card-white post">
                    <div class="post-heading">
                        <div class="float-left image">
                            <img src="static/{{ avaliacao.caminho_foto }}" class="img-circle avatar"  alt="foto usuário">
                        </div>
                        <div class="float-left meta">
                            <div class="title h5">
                                <b>{{avaliacao.nome_usuario}}</b>
                                fez uma avaliação com a nota: {{avaliacao.nota}}
                            </div>
                            <h6 class="text-muted time">{{avaliacao.data}}</h6>
                        </div>
                    </div> 
                    {% if avaliacao.comentario|length > 0 %}
                        <div class="post-description"> 
                            <p>{{avaliacao.comentario}}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
        <br>
        
    {%endfor%}

    <br><br>

</main>

{% endblock main%}