{% extends 'base.html' %} 

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
{% endblock styles %}

{% block main %}
  <main>
    <br><br><br>
    {% with mensagens = get_flashed_messages(with_categories=true) %}
    {% if mensagens%}
        {% for categoria, mensagem in mensagens %}
            {% if categoria == 'sucesso' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ mensagem }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            {% if categoria == 'erro' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ mensagem }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
  {% endwith %}

    <div>
      <div style="float: right;">
      <nav class="navbar navbar-expand-sm">
        <form action="lista_cidades" method="POST">
          {{ wtf.quick_form(form) }}
        </form>
      </nav>
      <div style="margin-left: 20px;">
      <div class="btn-group">
          <a href="{{ url_for('cadastrar_cidade') }}" class="btn btn-primary" style="width:200px;">Adicionar Cidade</a>
          
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Filtrar por
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ url_for('listar_cidades') }}">Nada</a>
              <a class="dropdown-item" href="{{ url_for('listar_cidades',favoritas=True,notificaveis=False) }}">Favorito</a>
              <a class="dropdown-item" href="{{ url_for('listar_cidades',favoritas=False,notificaveis=True) }}">Notificavel</a>
              <a class="dropdown-item" href="{{ url_for('listar_cidades',favoritas=True,notificaveis=True) }}">Favorito e Notificável</a>
            </div>
          </div>
          <a class ="btn btn-primary"  href="{{ url_for('enviar_email',cpf=current_user.cpf_usuario) }}">Enviar climas por e-mail</a>
        </div>
          </div>
      </div>  
      <h1 style="color: white; font-size: 80px; font-family: Arial, sans-serif; margin-left: 100px; margin-top: 20px; -webkit-text-stroke-width: 3px; -webkit-text-stroke-color: black; text-shadow: 2px 2px black;">Sua Lista de Cidades</h1>
    </div>
    <br><br><br><br>
    <hr>

<div class="container-fluid">
<div class="col-md-12">
{% if cidades|length > 0 %}


<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome da cidade</th>
                <th scope="col">Descrição</th>
                <th scope="col">Favorito</th>
                <th scope="col">Notificável</th>
                <th scope="col">Editar</th>
                <th scope="col">Conferir Clima</th>
                <th scope="col">Remover</th>
            </tr>
        </thead>
        <tbody>
            {% for cidade in cidades %}
            <tr>
                
                <td scope="row">{{ cidade.nome_cidade }}</td>
                {% if cidade.descricao|length == 0 %}
                  <td scope="row">Nenhuma</td>
                {% else %}
                  <td scope="row">{{ cidade.descricao }}</td>
                {% endif %}
                
                {% if cidade.favorito %}
                  <td scope="row">Sim</td>
                {% else %}
                  <td scope="row">Não</td>
                {% endif %}
                {% if cidade.notificavel %}
                  <td scope="row">Sim</td>
                {% else %}
                  <td scope="row">Não</td>
                {% endif %}
                <td scope="row">
                  <a href="{{ url_for('editar_cidade',id=cidade.id) }}">Editar <i class="fas fa-edit"></i></a>
                </td>
                <td scope="row">           
                <a href="{{ url_for('exibir_cidade',id=cidade.id) }}">Ver clima <i class="fas fa-temperature-high"></i></a>
                </td>    
                <td scope="row">
                  <a href="{{ url_for('deletar_cidade',id=cidade.id) }}">Excluir <i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
{% else %}
  <h3>Nenhuma está cadastrada na lista. Por favor, adicione uma quiser ver seu clima.</h3>
{% endif %}

</div>
</div>
</main>
{% endblock main %}