 {% extends "base.html" %}

    {% block main %}
    <br><br><br>
    <div class="container">
    <h1>Logar</h1>
    
    <form action="logar_usuario" method="POST">
        {{ mostrar_erro_lista(erros) }}
        {{ mostrar_erro_field(form.nome_usuario) }}
        {{ mostrar_erro_field(form.senha) }}
        {{ mostrar_erro_field(form.lembreme) }}
        {{wtf.quick_form(form)}}
    </form>
    
    <br><br>
        <a class="btn btn-outline-secondary" href="{{ url_for('cadastrar_usuario') }}">Não tem conta? Cadastrar</a>
    </div>
    {% endblock main %}
