{% extends 'base.html' %} 




{% block scripts %}
  <script src="{{url_for('.static', filename='js/perfil.js')}}"></script>
  {{super()}}
{% endblock %}

{% block main %}
    <main>
      <br><br><br>
      {% with mensagens = get_flashed_messages(with_categories=true) %}
      {% if mensagens%}
          {% for categoria, mensagem in mensagens %}
              {% if categoria == 'sucesso' %}
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                      {{ mensagem }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
              {% endif %}
              {% if categoria == 'erro' %}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      {{ mensagem }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
              {% endif %}
          {% endfor %}
      {% endif %}
    {% endwith %}

    
    <div class="container">
    <div class="quadrado d-flex justify-content-center ">
      <div class="card text-center" style="width:40rem;" >
        <img class="card-img-top mx-auto d-block" src= "static/{{ foto }}" alt="Imagem de Perfil" style="width: 9rem;" >
        <div class="card-body">
          
          <h4 class="card-title">Nome Completo: {{ current_user.nome_completo }}</h4>
          <h6 class="card-text">Nome de Usuário: {{ current_user.nome_usuario }}</h6>
          <p class="card-text">CPF cadastrado: {{ current_user.cpf_usuario }}</p>
          <p class="card-text">E-mail: {{ current_user.email }}</p>
          
          <a class="btn btn-primary align-self-center" href="{{ url_for('editar_usuario') }}">Editar</a>
          <a class="btn btn-primary" href="{{ url_for('alterar_senha') }}" >Alterar senha</a>
          <br><br>
          <a href="{{ url_for('avaliar_site') }}" class="btn btn-primary">Avaliar site</a>
          <br><br>

          
          <a class="btn btn-danger" href="{{ url_for('excluir_conta') }}">Excluir Conta</a>
        </div>
      </div>
    </div>
  </div>

  
  <br><br><br><br>
  </main>

{% endblock main %}
