{% extends 'bootstrap/base.html' %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>teste</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <ul class="list-group">
            {% if not current_user.is_authenticated %}
            <li class="list-group-item">
                <a href="{{ url_for('cadastrar_usuario') }}">Cadastrar no site</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('logar_usuario') }}" class="btn btn-primary">Logar</a>
            </li>
            {% else %}
                <li class="list-group-item">
                    <a href="{{ url_for('cadastrar_cidade') }}">Cadastrar cidade</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ url_for('listar_cidades') }}">Lista de cidades </a>
                </li>
                <li class="list-group-item">
                    <a href="{{ url_for('avaliar_site') }}">Avaliar Site</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ url_for('mostrar_avaliacao_site') }}">Nota média do site</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ url_for('carregar_perfil') }}">Perfil de usuário</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ url_for('editar_usuario') }}">Editar usuário</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ url_for('deslogar_usuario') }}" class="btn btn-primary">Deslogar</a>
                </li>
                
                
            {% endif %}
        </ul>
    </div>
    {% endblock content %}
</body>
</html>